@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --black: #0e0e0e;
    --dark-gray: #1e1e1e;
    --orange: #e76c0e;
    --orange-two: #e7480e;
}

body{
    background-color: var(--black);
}